.main {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main > video {
    height: 100%;
    width: 100%;
}

.main__info {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: rgba(234, 233, 232, 0.75);
    width: 30%;
    padding: 20px;
    top: 40%;
    left: 5%;
}

.main__info > h2 {
    font-size: 30px;
}

.main__info > h4 {
    font-weight: lighter;
}

.main__info__button {
    padding: 5%;
    margin: 20px 0 0 10px;
    color: white;
    background-color: black;
    border: none;
}

.main__info__button > span {
    font-size: 20px;
    margin-right: 10px;
}

.main__info__button:hover {
    cursor: pointer;
}

.main__gallery {
    background-color: #F8F9F9;
    padding: 50px;
    font-family: Helvetica;
    font-stretch:extra-expanded;
    font-size: xx-large;
    text-align: center;
}