.submitButton {
   display: inline-block;
   width: 100%;   
}

.submitButton > button {
    display: block;
    margin: 10px auto;
    background-color: rgb(117, 122, 232);
    padding: 10px;
    color: white;
    border: none;
    font-size: 1.2rem;
}

.submitButton>button:hover {
    cursor: pointer;
}