.footer {
    position: sticky;
    bottom: 0;
    height: 10vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
}

.footer__testDrive {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1d1d;
    color: white;
    padding: 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer__testDrive:hover {
    cursor: pointer;
}